@import "reset.css";

:root {
  --HEADER_HEIGHT: 10vh;
  --BODY_HEIGHT: calc(100vh - var(--HEADER_HEIGHT));
}

body {
  text-align: center;
  user-select: none;
  background: #c0c0c0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  display: block;
  cursor: pointer;
}

.content {
  margin: 0 auto;
  width: 100vw;
  max-width: 900px;
  min-width: 630px;
  height: 100vh;
  background: lemonchiffon;
}

.game-header {
  height: var(--HEADER_HEIGHT);
  background: pink;
  flex-direction: row;
  width: 80%;
}

.game-header > * {
  padding: 0 10px 0 10px;
}

.restart {
  height: 100%;
}

.lose,
.win {
  width: 70%;
  height: 100vh;
  margin: 0 auto 0;
}

.lose {
  background: gray;
}

.win {
  background: greenyellow;
}

.game-end-text {
  font-size: 96px;
  font-weight: bold;
  margin: auto 0 0;
}

.game-end-info {
  font-size: 48px;
}

.game-end-logo {
  width: 100px;
  height: 100px;
  margin: auto 0 10px;
}

.game-init,
.board {
  height: var(--BODY_HEIGHT);
  max-height: 100vw;
  align-items: center;
}

.game-init {
  justify-content: space-around;
}

.difficulty {
  height: 60%;
  justify-content: space-around
}

.difficulty > button {
  width: 180px;
  height: 15%;
  border: 1px solid white;
  color: white;
  background: purple;
  font-size: 24px;
}
.difficulty > button:nth-child(1) {
  background: greenyellow;
}

.difficulty > button:nth-child(2) {
  background: yellowgreen;
}

.difficulty > button:nth-child(3) {
  background: orange;
}

.difficulty > button:nth-child(4) {
  background: blueviolet;
}

.board {
  width: 100%;
}

.board-top {
  height: 20%;
  width: 100%;
}

.board-top,
.board-buttom {
  flex-direction: row;
  justify-content: center;
}

.board-navi {
  width: 20%;
  height: 100%;
}

.life {
  flex-direction: row;
}

.heart-mark {
  color: pink;
  font-size: 24px;
  line-height: 1;
}

.damaged {
  color: black;
  opacity: 0.08;
}

.choice {
  flex-direction: column;
}

.change-choice {
  background: lawngreen;
  padding: 3px 5px;
  border-radius: 5px;
}

.row {
  width: 80%;
  flex-direction: row;
  height: 100%;
}

.label {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid black;
}

.row > .label {
  flex-direction: column-reverse;
  justify-content: end;
  width: 5%;
}

.row > .label > div {
  width: 100%;
  line-height: 1.1;  
}

.board-buttom {
  height: 80%;
  width: 100%;
}

.column {
  height: 100%;
  width: 20%;
}

.column > .label {
  flex-direction: row-reverse;
  justify-content: end;
}

.column > .label > div {
  padding: 5px 2.5px 0 2.5px;
}

.cell-container {
  height: 100%;
  width: 80%;
  flex-wrap: wrap;
  flex-direction: row;
}

.cell {
  width: 5%;
  height: 5%;
  border: 1px solid black;
  font-weight: bold;
  font-size: 20px;
}

.pushed-true {
  background: gray;
}


@media screen and (max-width:800px) {
  .content {
    font-size: 10px;
  }

  .board {
    height: 80%;
  }

  .board-buttom {
    height: 100%;
  }
  
  .cell {
    font-size: 12px;
  }
}
/* 
.debug {
  width: 100px;
  height: 50px;
  background: yellow;
} */